@import "./variables";

.home {
  &__content {
    display: flex;
    gap: $main-padding;
    align-items: center;
    justify-content: space-between;
  }

  &__text {
    font-size: 1.25rem;
    line-height: 1.875rem;
    width: 50%;
  }

  &__img {
    width: 50%;
  }
}

.block-information {
  background: $sub-bg-color;
}

.information__items {
  display: flex;
  justify-content: space-between;
  gap: $main-padding;
}

.information-item {
  text-align: center;
  width: 100%;
  
  &__title {
    font-size: 1.5625rem;
    line-height: 1.375rem;
    margin-bottom: calc($main-padding / 2);
  }

  &__text {
    font-size: 1rem;
    line-height: 1.5rem;
  }
}

.prizes {
  display: flex;
  align-items: center;
  flex-direction: column;

  &__main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: $main-padding;
    padding: calc($main-padding / 2);
    border-radius: 10px;
    background: $sub-bg-color;
  }

  &__items {
    display: flex;
    flex-direction: column;
    gap: $main-gap;
  }

  &__item {
    display: flex;
    align-items: center;
    font-size: 1.125rem;
  }
  
  &__place {
    font-size: 2.5rem;
    font-weight: 800;
    line-height: 2.125rem;
    margin-right: $main-gap;
    font-weight: normal;
    text-shadow: $main-text-shadow;

    &-first {
      color: $main-color;
    }

    &-second {
      color: $text-color;
    }

    &-third {
      color: $link-color;
    }
  }

  &__fund {
    max-width: 280px;
    text-align: center;
  }
  
  &__fund-text {
    font-size: 1.875rem;
    line-height: 1.875rem;
  }

  &__current {
    display: inline-flex;
    align-items: center;
    font-size: 2.5rem;
    line-height: 2.5rem;
    color: $sub-main-color;
    text-shadow: $main-text-shadow;
    margin-top: $main-gap;
  }

  &__donate {
    margin-left: $main-gap;
    width: 1.7rem;
    height: 1.7rem;
    border-radius: 50%;
    background: $link-color;
    color: $bg-color;
    text-decoration: none;
    position: relative;
    transition: background $transition-delay;

    &::after {
      content: "+";
      position: absolute;
      text-shadow: none;
      top: -0.63rem;
      left: 0.115rem;
    }
    
    &:hover {
      background: $text-color;
    }
  }
}

.block-schedule {
  background: $sub-bg-color;
}

.schedule {
  &__items {
    display: flex;
    justify-content: space-between;
    gap: $main-padding;
  }
}

.schedule-item {
  width: 100%;
  text-align: center;

  &__title {
    font-size: 1.5625rem;
    line-height: 1.375rem;
    margin-bottom: calc($main-padding / 2);
  }

  &__text {
    font-size: 1rem;
    line-height: 1.5rem;
  }
}

.join {
  &__items {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: calc($main-padding / 2);
    font-size: 1.25rem;
    line-height: 1.875rem;
  }

  &__item {
    max-width: 700px;
    width: 100%;
  }
}

@media only screen and (max-width: 750px) {
  .home {
    &__content {
      flex-direction: column;
    }

    &__text {
      width: 100%;
      text-align: center;
    }

    &__img {
      width: 100%;
      max-width: 260px;
    }
  }

  .information__items {
    flex-direction: column;
  }
}

@media only screen and (max-width: 550px) {
  .prizes__main {
    flex-direction: column-reverse;
    gap: calc($main-padding / 2);
  }

  .schedule__items {
    flex-direction: column;
  }
} 