$bg-color: #323437;
$sub-bg-color: #2c2e31;
$text-color: #d1d0c5;
$link-color: #646669;
$main-color: #e2b714;
$sub-main-color: #7e2a33;

$transition-delay: 0.3s;

$main-width: 1080px;
$main-padding: 2rem; 
$main-gap: 0.75rem;

$main-text-shadow: 
  -1.5px 0px 0px black,
  1.5px 0px 0px black, 
  0px -1.5px 0px black, 
  0px 1.5px 0px black,
  -1.5px 1.5px 0px black, 
  1.5px -1.5px 0px black, 
  -1.5px -1.5px 0px black, 
  -1.5px -1.5px 0px black, 
  1.5px 1.5px 0px black;

html {
  scroll-behavior: smooth;
  font-size: 16px;
}

body {
  background: $bg-color;
  font-family: 'Lexend Deca';
  color: $text-color;
  padding-top: calc($main-padding * 2 + 36px);
}

i {
	font-style: italic;
}

.block > * {
  max-width: $main-width;
  margin: 0 auto;
  padding: $main-padding;
}

.block__title {
  text-align: center;
  margin-bottom: $main-padding;
  font-size: 2.5rem;
  line-height: 1.875rem;
}

b {
  font-weight: bold;
}

.text-link, .text-copy {
  color: $link-color;
  font-weight: bold;
  text-decoration: none;
  transition: color $transition-delay;
  cursor: pointer;
  position: relative;
  
  &:hover {
    color: $text-color;
  }
}

.text-copy {
  &::after {
    content: "Copied!";
    position: absolute;
    padding: $main-gap;
    border-radius: 5px;
    background: $sub-bg-color;
    font-weight: normal;
    color: $text-color;
    line-height: 1rem;
    transition: $transition-delay opacity;
    top: -0.2rem;
    left: 50%;
    transform: translate3d(-50%, -100%, 0);
    opacity: 0;
  }

  &-successful::after {
    opacity: 1;
  }
  
  &-successful-hidden::after {
    display: none;
  }
}

.block-header {
  background: $sub-bg-color;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.scroll-transition .block-header {
  transition: transform $transition-delay;
}

.scroll-down .block-header {
  transform: translate3d(0, -100%, 0);
}

.scroll-up .block-header {
  transform: none;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.logo {
  display: flex;
  align-items: center;

  &__img {
    margin-right: $main-gap;
    height: 32px;
  }

  &__text {
    font-size: 32px;
    line-height: 32px;
  }
}

.navigation {
  display: flex;
  gap: $main-gap;
  
  &__item {
    color: $link-color;
    text-decoration: none;
    font-size: 20px;

    transition: color $transition-delay;

    &:hover {
      color: $text-color;
    }
  }
}

.links {
  display: flex;
  align-items: center;
  gap: $main-gap;

  &__item {
    height: 20px;
    text-decoration: none;
    transition: filter $transition-delay;

    &:hover {
      filter: brightness(200%);
    }
  }

  &__item-text {
    color: $link-color;
    font-size: 22px;
    line-height: 20px;
    font-weight: bold;
    transform: translateY(-1px);
  }

  &__img {
    height: 20px;
  }
}

.burger-menu {
  width: 28px;
  height: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  &__item {
    width: 80%;
    height: 20%;
    background: $link-color;
    border-radius: 5px;
    transition: all $transition-delay;
  }

  &__item:nth-child(1) {
    transform-origin: right;
  }

  &__item:nth-child(2) {
    width: 100%;
  }

  &__item:nth-child(3) {
    transform-origin: right;
  }

  &:hover &__item {
    background: $text-color;
  }
}

.block-open .burger-menu {
  &__item {
    width: 80%;
  }

  &__item:nth-child(1) {
    transform: rotate(-45deg);
  }

  &__item:nth-child(2) {
    opacity: 0;
  }

  &__item:nth-child(3) {
    transform: rotate(45deg);
  }
}

.home {
  &__content {
    display: flex;
    gap: $main-padding;
    align-items: center;
    justify-content: space-between;
  }

  &__text {
    font-size: 1.25rem;
    line-height: 1.875rem;
    width: 50%;
  }

  &__img {
    width: 50%;
  }
}

.block-information {
  background: $sub-bg-color;
}

.information__items {
  display: flex;
  justify-content: space-between;
  gap: $main-padding;
}

.information-item {
  text-align: center;
  width: 100%;
  
  &__title {
    font-size: 1.5625rem;
    line-height: 1.375rem;
    margin-bottom: calc($main-padding / 2);
  }

  &__text {
    font-size: 1rem;
    line-height: 1.5rem;
  }
}

.prizes {
  display: flex;
  align-items: center;
  flex-direction: column;

  &__main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: $main-padding;
    padding: calc($main-padding / 2);
    border-radius: 10px;
    background: $sub-bg-color;
  }

  &__items {
    display: flex;
    flex-direction: column;
    gap: $main-gap;
  }

  &__item {
    display: flex;
    align-items: center;
    font-size: 1.125rem;
  }
  
  &__place {
    font-size: 2.5rem;
    font-weight: 800;
    line-height: 2.125rem;
    margin-right: $main-gap;
    font-weight: normal;
    text-shadow: $main-text-shadow;

    &-first {
      color: $main-color;
    }

    &-second {
      color: $text-color;
    }

    &-third {
      color: $link-color;
    }
  }

  &__fund {
    max-width: 280px;
    text-align: center;
  }
  
  &__fund-text {
    font-size: 1.875rem;
    line-height: 1.875rem;
  }

  &__current {
    display: inline-flex;
    align-items: center;
    font-size: 2.5rem;
    line-height: 2.5rem;
    color: $sub-main-color;
    text-shadow: $main-text-shadow;
    margin-top: $main-gap;
  }

  &__donate {
    margin-left: $main-gap;
    width: 1.7rem;
    height: 1.7rem;
    border-radius: 50%;
    background: $link-color;
    color: $bg-color;
    text-decoration: none;
    position: relative;
    transition: background $transition-delay;

    &::after {
      content: "+";
      position: absolute;
      text-shadow: none;
      top: -0.63rem;
      left: 0.115rem;
    }
    
    &:hover {
      background: $text-color;
    }
  }
}

.block-schedule {
  background: $sub-bg-color;
}

.schedule {
  &__items {
    display: flex;
    justify-content: space-between;
    gap: $main-padding;
  }
}

.schedule-item {
  width: 100%;
  text-align: center;

  &__title {
    font-size: 1.5625rem;
    line-height: 1.375rem;
    margin-bottom: calc($main-padding / 2);
  }

  &__text {
    font-size: 1rem;
    line-height: 1.5rem;
  }
}

.join {
  &__items {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: calc($main-padding / 2);
    font-size: 1.25rem;
    line-height: 1.875rem;
  }

  &__item {
    max-width: 700px;
    width: 100%;
  }
}

.block-footer {
  background: $sub-bg-color;
}

.footer {
  padding-top: calc($main-padding / 2);
  padding-bottom: calc($main-padding / 2);
  text-align: center;

  &__link {
    text-decoration: none;
    color: $link-color;
    transition: color $transition-delay;

    &:hover {
      color: $text-color;
    }
  }
}

@media only screen and (max-width: calc($main-width + $main-padding * 2)) {
  html {
    font-size: 1.5vw;
  }
} 

@media only screen and (min-width: 750px) {
  .burger-menu {
    display: none;
  }
}

@media only screen and (max-width: 750px) {
  html {
    font-size: 12px;
  }

  body {
    padding-top: calc($main-padding * 2 + 24px);
  }

  .logo {
    &__img {
      margin-right: $main-gap;
      height: 24px;
    }

    &__text {
      font-size: 24px;
      line-height: 24px;
    }
  }

  .navigation {
    position: absolute;
    display: flex;
    width: 100%;
    flex-direction: column;
    background: $sub-bg-color;
    padding: 0 $main-padding;
    padding: 0 $main-padding;
    bottom: 0;
    left: 0;
    gap: 0;
    background: $sub-bg-color;
    transform: translate3d(0, 99%, 0);
    transition: padding $transition-delay, gap $transition-delay;
    overflow: hidden;

    &__item {
      overflow: hidden;
      transition: height $transition-delay;
      height: 0;
    }
  }

  .block-open .navigation {
    padding: 0 $main-padding $main-padding $main-padding;

    &__item {
      height: 32px;
    }
  }

  .home {
    &__content {
      flex-direction: column;
    }

    &__text {
      width: 100%;
      text-align: center;
    }

    &__img {
      width: 100%;
      max-width: 260px;
    }
  }

  .information__items {
    flex-direction: column;
  }
}

@media only screen and (max-width: 550px) {
  .prizes__main {
    flex-direction: column-reverse;
    gap: calc($main-padding / 2);
  }

  .schedule__items {
    flex-direction: column;
  }
} 