// Основные цвета
$color-primary: #2D3B8E;    // Синий
$color-light-blue: #a2c2da;
$color-secondary: #FF4D4D;   // Красный для кнопок
$color-white: #FFFFFF;
$color-black: #000000;
$color-gray: #F5F5F5;
$color-dark: #353535;

// Размеры
$main-width: 1080px;
$main-padding: 2rem;
$main-gap: 0.75rem;
$header-height: 80px;

$main-padding-adaptive: 3vw;